body{font-family:'open sans',sans-serif;font-weight:400;background:#222;color:#fff;text-decoration:none;}
#fontListSWF{visibility:hidden;}
#fontList.color-flip ul,#fontList2.color-flip ul{background:#fff;color:#222;}#fontList.color-flip ul .font-item h2,#fontList2.color-flip ul .font-item h2{background:#fff;}
#fontList.color-flip ul .font-item:hover .font-name,#fontList2.color-flip ul .font-item:hover .font-name{color:#222;}
#fontList ul,#fontList2 ul{padding:0;margin:0;position:absolute;top:0;bottom:0;overflow-y:auto;overflow-x:hidden;}
#fontList li:first-child h1,#fontList2 li:first-child h1{margin-top:0;}
#fontList li,#fontList2 li{position:relative;font-size:20px;list-style:none;margin-bottom:20px;text-align:center;width:100%;}#fontList li h1,#fontList2 li h1{margin-top:0;line-height:1;}
#fontList li h2,#fontList2 li h2{position:relative;padding:10px 0;color:#888;background:#222;}
#fontList li p,#fontList2 li p{display:none;font-size:22px;text-align:left;line-height:1.5;padding:40px;margin-bottom:80px;}
#fontList .font-item:hover .font-name,#fontList2 .font-item:hover .font-name{color:#fff;}
#fontList ul{left:0;right:50%;padding-left:40px;}
#fontList2 ul{left:50%;right:0;padding-right:40px;}
#welcome{position:absolute;top:0;bottom:0;left:0;right:0;background:#222;color:#fff;z-index:1000;padding:20px;}#welcome .text-container{margin:0 auto;max-width:700px;padding-top:100px;}#welcome .text-container h1{margin:0 0 4px;}
#welcome .text-container h2{margin:0;font-weight:100;color:#888;font-size:24px;line-height:1.5;}
#welcome #welcome-dismiss{display:inline-block;text-decoration:none;text-align:center;width:150px;margin:40px 0 0;opacity:0.3;padding:10px;font-size:24px;font-weight:700;background:none;border:3px solid #eb5050;border-radius:8px;color:#eb5050;}
#welcome #welcome-dismiss:hover{color:#222;background:#eb5050;}
#welcome-mobile{position:absolute;top:0;bottom:0;left:0;right:0;background:#222;color:#fff;z-index:1000;padding:20px;}#welcome-mobile .text-container{margin:0 auto;}#welcome-mobile .text-container h1{margin:0 0 4px;}
#welcome-mobile .text-container h2{margin:0;font-weight:100;color:#888;font-size:24px;line-height:1.5;}
@media screen and (max-width:600px){#welcome{display:none;}}@media screen and (min-width:600px){#welcome-mobile{display:none;}}.toggle-buttons{height:300px;width:70px;position:absolute;z-index:100;}.toggle-buttons a{position:absolute;left:20px;z-index:900;font-family:'open sans',sans-serif;text-decoration:none;font-weight:700;color:#aaa;height:20px;width:20px;text-align:center;}.toggle-buttons a i{font-size:20px;}
.toggle-buttons a:hover{color:#ccc;}
.toggle-buttons #color-toggle{top:20px;}
.toggle-buttons #paragraph-toggle{top:50px;}.toggle-buttons #paragraph-toggle i{font-size:18px;}
.toggle-buttons #facebook-share{top:120px;}
.toggle-buttons #twitter-share{top:150px;}
.toggle-buttons #google-share{top:180px;}
#author-link a{position:absolute;bottom:5px;right:0;padding:10px 20px;color:#aaa;z-index:9000;text-decoration:none;}
#author-link:hover a{color:#ccc;}
#flash-warning{position:absolute;bottom:0;left:0;padding:10px 20px 0;color:#555;z-index:9000;text-decoration:none;}
