html{min-height:100%;position:relative;}
make sure it is at least as tall as the viewport body,div,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;border:0;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a{text-decoration:none;}
ul{list-style:none;}
h1{color:#BEEDE3;}
h2{color:#ddd;}
h3{color:#666;}
p{color:#999;}
a{color:#fec4a4;}
a:hover{color:#FF9E69;}
body{font-family:'Arvo',serif;font-size:100%;}
h1,h2,h3,h4,h5,h6,a{font-family:'Montserrat',sans-serif;}
h1{line-height:0.9;letter-spacing:-1px;}
h2{line-height:1.25;letter-spacing:-1px;font-weight:100;}
h3{font-size:16px;line-height:1.2;font-weight:800;}
p{font-size:0.9rem;font-weight:400;line-height:1.25;}
@media screen and (min-width:45rem){p{line-height:1.375;}}body{padding:10px;}
@media (min-width:550px){body{padding:20px 40px 40px;}}@media (min-width:990px){body{padding:0;}}.container,.header,.footer{position:relative;max-width:900px;margin:0 auto;}.container img,.header img,.footer img{width:100%;}
.header-wrapper{position:relative;padding:10px 0 40px;z-index:3000;}
.header{margin:0;}.header h1{margin-bottom:5px;}
.header h2{max-width:800px;}
@media (min-width:550px){.header{margin:0 auto;}.header h1{margin-bottom:8px;} .header-wrapper{padding:20px 0 40px;}}@media (min-width:760px){.header{margin:0 auto;}.header h1{margin-bottom:8px;} .header-wrapper{padding:40px 0 60px;}}@media (min-width:990px){.header{margin:0 auto;}.header h1{margin-bottom:8px;} .header-wrapper{padding:80px 0 80px;}}.item{position:relative;margin:0 0 30px;padding:0 0 25px;border-bottom:1px dotted #ccc;}.item img{border:1px solid #eee;}
.item .item-description h3{margin-bottom:10px;}
.item .item-description a{display:inline-block;margin-top:10px;}
.item .item-image img{margin-bottom:20px;}
.item .item-description+.item-image{margin-top:20px;}.item .item-description+.item-image img{margin-bottom:0;}
@media (min-width:768px){.item{margin:0 0 80px;padding:0 0 76px;}.item .item-image{display:inline-block;width:67%;}.item .item-image img{margin-bottom:20px;} .item .item-image img:last-child{margin-bottom:0;} .item .item-description{display:inline-block;width:33%;padding:0 20px;vertical-align:top;}}.footer{margin:40px 0;}.footer a{display:block;line-height:1.5;}
.footer p{font-family:"Montserrat",sans-serif;cursor:pointer;}
.footer p:hover{color:#666;}
@media (min-width:768px){.footer a{line-height:1.4;}}@media (min-width:60rem){.footer{margin:80px auto 100px;}}
