*{margin:0;padding:0;outline:0;border:0;}
body{font-family:'PT Mono',monospace;color:#222;text-decoration:none;}
.container{max-width:800px;margin:0 auto;text-align:center;position:relative;}
#header{margin:40px 0;}
h1{font-size:2rem;}
h2{font-size:1rem;line-height:2;}
#paper,#original{text-align:left;font-weight:400;font-size:1rem;line-height:1.5;border:none;background:#fff;text-shadow:0px 0px 1px #eee;outline:1px solid #eee;box-shadow:0px 2px 7px #aaa;width:70%;padding:8% 10%;margin:0 5% 80px;min-height:650px;resize:none;}
#original{opacity:0;position:absolute;left:-999px;top:300px;font-family:'PT Mono',monospace;}
.author-link{color:#aaa;}
.author-link:hover{color:#888;}
