!!!
html
  head
    
    //- FAVICON
    link(rel='shortcut icon', href='/img/favicon.png', type='image/png')

    //- GOOGLE ANALYTICS STUFF
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-44743958-1', 'notsteve.com');
        ga('send', 'pageview');

    //- LINE FOR MOBILE SCALING
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    
    block head

  body
    block body
