extends _base

block head
    title Type-Writer
    meta(name="description", content="Virtual typewriter for random brain dumping")
    meta(name="autho", content="Steven Lewis")

    //- FACEBOOK META STUFF
    meta(property="og:title", content="Type-Writer")
    meta(property="og:url", content="http://notsteve.com/type-writer")
    meta(property="og:type", content="website")
    //- meta(property="og:image", content="")
    meta(property="og:description", content="For writing type, nothing more")
    //- TWITTER META STUFF
    meta(name="twitter:card", content="For writing type, nothing more")
    meta(name="twitter:url", content="http://notsteve.com/type-writer")
    meta(name="twitter:title", content="Type-Writer")
    meta(name="twitter:description", content="For writing type, nothing more")
    //- meta(name="twitter:image", content="")

    //- ADDITIONAL STYLESHEET
    link(rel="stylesheet", href="./css/type-writer.css")


    //- OPEN SANS FONT
    link(href='http://fonts.googleapis.com/css?family=PT+Mono', rel='stylesheet', type='text/css')

    //- JAVASCRIPT LINKS
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='./js/jquery.autosize.min.js')


block body
    .container
        #header
            h1 Type-Writer
            h2 (For writing type, nothing more)
        textarea#original(autofocus='autofocus',spellcheck='false')
        #paper
        a.author-link(href="http://notsteve.com", title="") Made by Steven Lewis

