html{min-height:100%;position:relative;}
img{width:100%;}
body{margin:0;padding:0;font-size:100%;}
h1{font-family:'Montserrat',sans-serif;line-height:1;margin:0;padding:0;font-size:2.5rem;font-weight:700;letter-spacing:-1px;color:#222;}
h2{font-family:'Merriweather',serif;font-size:1rem;font-weight:200;line-height:1.5rem;}
h3{font-family:'Merriweather',serif;font-size:1.5rem;font-weight:200;line-height:1;}
.colored,a{display:inline;color:#00bbb2;}
a:hover{color:#009992;}
a{text-decoration:none;}
.container{max-width:700px;margin:3rem auto;padding:20px;position:relative;}
.item{margin:0 0 80px;padding:0;}.item img{border:1px solid #ccc;}
.pull-right{text-align:right;}
@media (max-width:500px){.item{margin:0 0 40px;}}@media (min-width:500px) and (max-width:1000px){h1{font-size:3rem;}}@media (min-width:1000px){h1{font-size:4rem;}}
